<section id="intro-container">
  <%- include("backdrop") -%>
  <div class="brand-name"><img class="logo" src="/images/angell-logo.png" alt="angell logo">Angell</div>
  <h1 class="heading">All-electric smartbike.</h1>
  <h3 class="sub-heading">aliqua anim illum tamen quid legam minim aute export aute</h3>
  <form id="test-ride-form" class="submit-form">
    <input type="email" class="form-control form-control-lg" name="email" placeholder="Email address" required/>
    <button type="submit" class="submit-btn btn-lg" name="submission-type" value="test-ride">Book a test ride</button>
  </form>
  <img id="intro-img" src="/images/angell-ebike.png" alt="angell ebike"/>
</section>
